[submodule "cookbook-php-fpm"]
	path = cookbook-php-fpm
	url = git://github.com/yevgenko/cookbook-php-fpm.git
[submodule "cookbook-vim"]
	path = cookbook-vim
	url = https://github.com/opscode-cookbooks/vim.git
[submodule "cookbook-git"]
	path = cookbook-git
	url = https://github.com/opscode-cookbooks/git.git
[submodule "cookbook-nginx"]
	path = cookbook-nginx
	url = https://github.com/opscode-cookbooks/nginx.git
[submodule "cookbook-php"]
	path = cookbook-php
	url = https://github.com/opscode-cookbooks/php.git
[submodule "cookbook-mysql"]
	path = cookbook-mysql
	url = https://github.com/opscode-cookbooks/mysql.git
[submodule "cookbook-apache2"]
	path = cookbook-apache2
	url = https://github.com/opscode-cookbooks/apache2.git
